/* admin/CSS/base/layout.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;             
    display: grid;

    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto 1fr; 

    grid-template-areas:
        "nav top"
        "nav main";

    overflow: hidden;           /* NO PAGE SCROLL */
}

/* =========================
   Detail Drawer
   ========================= */
.detail-overlay {
    position: fixed;
    inset: 0;
    z-index: 1000;

    display: none;
    align-items: center;
    justify-content: center;

    background: var(--outside-detail-bg);
    backdrop-filter: blur(2px);
}

.detail-overlay.active {
    display: flex;
}

.detail-panel {
    width: 90%;
    height: 85%;

    display: flex;
    flex-direction: column;

    background: var(--inside-detail-bg);
    font-family: aldrich, sans-serif;

    border: 2px solid var(--active-op);
    border-radius: 12px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);

    overflow: hidden;
    animation: panelFadeIn 0.25s ease-out;
}

@keyframes panelFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.detail-header {
    padding: 1rem 1.5rem;
    background: var(--detail-header-bg);
    border-bottom: 1px solid var(--active-op);
    color: var(--active-op);

    display: flex;
    align-items: center;
}

.detail-header h2 {
    flex: 1;
}

.detail-close {
    flex: 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--active-op);
    cursor: pointer;
    transition: color 0.25s ease;
}

.detail-close:hover {
    color: var(--non-active);
}

.detail-content {
    flex: 1;
    display: flex;
    justify-content: center;

    padding: 1.5rem;
    overflow-y: auto;
    color: var(--non-active);
    font-size: 0.95rem;
    line-height: 1.5;
}

.detail-content::-webkit-scrollbar {
    width: 10px;
}

.detail-content::-webkit-scrollbar-thumb {
    background: var(--active-op);
    border-radius: 4px;
}

.detail-content .quest-icon {
    width: 150px;
    height: 150px;
    border: 2px solid var(--active-op);
    border-radius: 8px;
}

/* --------------------------------------------------------------------- admin_dashboard - quest_detail (Detail Panel) */
.quest-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.quest-detail h3 {
    font-family: "Aldrich", sans-serif;
    font-size: 2rem;
    color: var(--active-op);
    text-align: center;
}

.quest-detail .description {
    font-family: "Aldrich", sans-serif;
    font-size: 1.3rem;
    color: var(--non-active);
    text-align: center;
    padding: 1rem;

    max-width: 30vw;
    width: 100%;
    margin: 0 auto;

    white-space: normal;
    word-break: break-word;

    border-bottom: 1px solid var(--active-op);
}

/* --------------------------------------------------------------------- admin_dashboard - delete_detail (Detail Panel) */
.detail-content .deleted .delete-reason {
    font-family: "Aldrich", sans-serif;
    font-size: 1.3rem;
    color: var(--non-active);
    text-align: center;

    max-width: 30vw;
    width: 100%;

    white-space: normal;
    word-break: break-word;
}

.detail-content .deleted .delete-reason-title {
    font-family: "Aldrich", sans-serif;
    font-size: 1.5rem;
    color: var(--active-op);
}

/* --------------------------------------------------------------------- admin_dashboard - submission_detail (Detail Panel) */
.submission-detail {
    display: flex;
    gap: 10vw;
    justify-content: space-evenly;
}

/* ----------------------------------------------------- quest info */
.submission-detail .quest-info {
    font-family: "Aldrich", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.submission-detail .quest-info h3 {
    font-family: "Aldrich", sans-serif;
    font-size: 2rem;
    color: var(--active-op);
    text-align: center;
}

.submission-detail .description {
    font-family: "Aldrich", sans-serif;
    font-size: 1.3rem;
    color: var(--non-active);
    text-align: center;
    padding: 1rem;

    max-width: 30vw;
    width: 100%;
    margin: 0 auto;

    white-space: normal;
    word-break: break-word;
}

.submission-detail .quest-icon {
    width: 150px;
    height: 150px;
    border: 2px solid var(--active-op);
    border-radius: 8px;

}

/* ----------------------------------------------------- submission info */
.submission-detail .submission-info {
    font-family: "Aldrich", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.submission-detail .submission-info h3 {
    font-size: 2rem;
    color: var(--active-op);
    text-align: center;
}

.submission-detail .evidence-picture {
    width: 150px;
    height: 150px;
    border: 2px solid var(--active-op);
    border-radius: 8px;

}

.submission-detail .evidence-video {
    width: 300px;
    height: 200px;
    border: 2px solid var(--active-op);
    border-radius: 8px;

}

.submission-detail  .declined-reason {
    font-family: "Aldrich", sans-serif;
    font-size: 1.3rem;
    color: var(--non-active);
    text-align: center;
    padding: 1rem;

    max-width: 30vw;
    width: 100%;
    margin: 0 auto;

    white-space: normal;
    word-break: break-word;
}

/* ----------------------------------- Action buttons */
.submission-detail .detail-action {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.submission-detail .detail-action button {
    flex: 1;
    font-family: "Aldrich", sans-serif;
    width: 100px;
    padding: 10px 14px;

    border-radius: 8px;
    border: none;
    cursor: pointer;

    font-weight: 600;
    background-color: transparent;
    border: 2px solid var(--non-active);
    transition: background-color 0.4s ease;
}

.submission-detail .btn-approve {
    color: var(--green);
}

.submission-detail .btn-approve:hover {
    background-color: var(--green);
    color: var(--non-active);
}

.submission-detail .btn-reject {
    color: var(--red);
}

.submission-detail .btn-reject:hover {
    background-color: var(--red);
    color: var(--non-active);
}

/* --------------------------------------------------------------------- admin_dashboard - user_detail (Detail Panel) */
.user-detail-section {
    display: flex;
    gap: 1.5rem;
}

.user-detail-section .user-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-detail-section .user-detail h3 {
    font-family: "Aldrich", sans-serif;
    font-size: 2rem;
    color: var(--active-op);
    margin-bottom: 1rem;
}

.user-detail-section .user-submission-record {
    flex: 2;
}

.user-detail-section .user-submission-record tr {
    cursor: default;
}

.user-detail-section .record-table tbody tr:hover {
    color: inherit;
    transform: inherit;
}

.user-submission-record .table-wrapper {
    max-height: 70vh;        
    overflow-y: auto;
}

/* --------------------------------------------------------------------- admin_dashboard - user_detail (Detail Panel) */
.redemption-detail h3 {
    color: var(--active-op);
}

.redemption-detail .item-image {
    width: 225px;
    height: 225px;
}

/* Grid mapping */
/* ==============================
              nav bar
   ==============================*/
.nav-bar {
    position: relative; 
    display: flex;
    flex-direction: column;
    grid-area: nav;
    min-width: 200px;
    background: var(--nav-bg);

    box-shadow:
        0 0 24px rgba(0, 0, 0, 0.7),
        1px 0 0 rgba(0, 0, 0, 0.2);
}

.nav-bar::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.08),
        rgba(0, 0, 0, 0.8)
    );

    z-index: 0;
}

/* ------------------------------------------- Logo container */
.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 0.5rem;
    padding: 0.7rem 0;
}

.nav-logo img {
    width: clamp(30px, 3vw, 48px);
    height: auto;
}

.nav-logo span {
    font-size: clamp(14px, 1.2vw, 20px);
    font-size: 0.7rem;
    font-family: "Press Start 2P", sans-serif;
    color: var(--logo-light-green);
    white-space: nowrap;
    position: relative;
    bottom: 10px;
}


/* ------------------------------------------- Nav options */
.nav-option {
    margin-top: 1rem;
}

.nav-option ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0 0.5rem;
}

.nav-option a {
    display: flex;
    align-items: center;

    padding: 0.75rem 1rem;
    border-radius: 7px;

    font-family: "Aldrich", sans-serif;
    font-size: 0.9rem;
    color: var(--non-active);
    text-decoration: none;

    position: relative;
    overflow: hidden;

    transition:
        background 0.25s ease,
        color 0.25s ease,
        transform 0.15s ease;
}

.nav-option a:hover {
    background: var(--nav-op-bg);
    color: var(--active-op);
    transform: translateX(4px);
}

.nav-option a.active {
    background: var(--nav-op-bg);
    color: var(--active-op);
    font-weight: 600;
}

/* left indicator bar */
.nav-option a::before {
    content: "";
    position: absolute;
    left: 0;
    width: 3px;
    height: 0;
    background: var(--active-op);
    transition: height 0.25s ease;
}

.nav-option a:hover::before,
.nav-option a.active::before {
    height: 100%;
}

/* --------------------------------icon */
.nav-icon {
    display: none;
}

/* --------------------------------label */
.nav-label {
    display: inline;
}

/* ------------------------------------------- Nav logout */
.nav-logout {
    margin-top: auto;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

/* Logout button */
.btn-logout {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 0.75rem 1rem;
    /* border-radius: 12px; */

    font-family: "Aldrich", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.05em;

    color: var(--non-active);
    border-top: 2px solid var(--non-active);
    text-decoration: none;

    position: relative;
    overflow: hidden;
    cursor: pointer;

    transition:
        transform 0.2s ease,
        background 0.25s ease,
        color 0.25s ease;
}

/* hover state */
.btn-logout:hover {
    color: var(--active-op);
    border-top: 2px solid var(--active-op);
    transform: translateY(-2px);
}

/* click feedback */
.btn-logout:active {
    transform: scale(0.97);
}

/* ==============================
            top bar
   ==============================*/
/* ---------------------------------------------------------------------------------------------- General CSS (top bar)*/
.top-bar {
    grid-area: top;
    background: var(--top-main-bg); 
    padding: 0 2rem;
}

.top-bar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1rem 0;

    height: 100%;
    max-width: 100%;
}

/* bottom line */
.top-bar-inner::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 1px;

    background: var(--non-active);
    border-radius: 999px; /* round both ends */
}

.top-bar-tools button {
    display: none;
}

/* ----------------------------------- Right side (DATE TIME) */
.top-bar-datetime {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.1;
    cursor: default;
}

.top-bar-date {
    font-size: 0.8rem;
    font-family: "Aldrich", sans-serif;
    color: var(--active-op);
}

.top-bar-time {
    font-size: 1.5rem;
    font-family: "Aldrich", sans-serif;
    font-weight: 600;
    color: var(--active-op);
}

/* ---------------------------------------------------------------------------------------------- admin_dashboard CSS (top bar) */
.admin-dashboard-top-bar {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.admin-dashboard-top-bar .tool-title {
    font-family:"Aldrich", sans-serif;
    font-size: 1.6rem;
    color: var(--active-op);
    border-right: 3px solid var(--active-op); 
    padding-right: 2rem; 
}

.admin-dashboard-top-bar .tool-option {
    font-family:"Aldrich", sans-serif;
    font-size: 1.2rem;
    display: flex;
    gap: 3rem; 

    padding-right: 2rem;
}

.admin-dashboard-top-bar .tool-btn {
    color: var(--non-active); 
    text-decoration: none;
    position: relative;  

    transition: color 0.25s ease;
}

/* -------------------------------------------- tool btn hover effect */
.admin-dashboard-top-bar .tool-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;

    width: 100%;
    height: 2px;
    background: var(--active-op);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

/* hover in */
.admin-dashboard-top-bar .tool-btn:hover {
    color: var(--active-op);
}

.admin-dashboard-top-bar .tool-btn:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* -------------------------------------------- tool btn active(current page) */
.admin-dashboard-top-bar .tool-btn.active {
    color: var(--active-op);
}

/* underline stays visible */
.admin-dashboard-top-bar .tool-btn.active::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* breathing glow */
.admin-dashboard-top-bar .tool-btn.active {
    animation: activeGlow 6s ease-in-out infinite;
}

@keyframes activeGlow {
    0% {
        text-shadow: 0 0 4px var(--text-glow-in);
    }
    50% {
        text-shadow: 0 0 20px var(--text-glow-out);
    }
    100% {
        text-shadow: 0 0 4px var(--text-glow-in);
    }
}

/* -------------------------------------------- click feedback */
.admin-dashboard-top-bar .tool-btn:active {
    transform: translateY(1px);
}

/* ==============================
            Main Section
   ==============================*/
.main-section {
    background-color: var(--top-main-bg);
    grid-area: main;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

/*--------------------------------------------------------------------------------------------------------- admin_dashboard */
.main-section .admin-dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*-------------------------------------------------------------------------------------------------- Cards (shared) */
.card {
    position: relative;

    /* glass background */
    background: var(--card-bg);

    border-radius: 10px;
    margin: 1rem;
    padding: 1.2rem;

    box-shadow:
        0 8px 24px rgba(0, 0, 0, 0.35),
        inset 0 0 0 1px rgba(255, 255, 255, 0.04);
}

.card-title {
    font-family: "Aldrich", sans-serif;
    text-align: center;
    font-size: 1.1rem;
    color: var(--active-op);
    margin-bottom: 0.8rem;
}

.number-card .value {
    font-family: "Aldrich", sans-serif;
    font-size: 2rem;
    color: var(--non-active);
    text-align: center;
}

/*-------------------------------------------------------------------------------------------------- table design (shared) */
/* Every table-wrapper's parent container must have a flex property (e.g display: flex, flex-direction: column and min-height: 0) */
.table-wrapper {
    flex: 1;              
    min-height: 0;        
    overflow-y: auto;
    overflow-x: hidden;

}

.record-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5rem;

    font-family: "Aldrich", sans-serif;
    color: var(--non-active);
    font-size: 0.9rem;
    table-layout: fixed;
}

.record-table thead th {
    position: sticky;
    top: 0;
    z-index: 1;

    text-align: center;
    padding: 0.75rem; /* up and down only, table already has fixed width */

    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(6px);

    color: var(--active-op);
    font-weight: 600;
    letter-spacing: 0.03em;
}

.record-table tbody tr {
    text-align: center;
    transition: transform 0.2s ease;
}

.record-table tbody .click-row {
    cursor: pointer;
}

.record-table td {
    padding: 0.7rem; /* up and down only */

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.record-table tbody tr:hover {
    color: var(--active-op);
    transform: translateY(-3px);
}

.record-table td:nth-child(3),
.record-table td:nth-child(4) {
    opacity: 0.5;
}

.record-table .status-rejected {
    color: #ff4d4d;
    font-weight: 600;
}

.record-table .status-completed {
    color: #3cff00;
    font-weight: 600;
}


/* ----- scroll bar ----- */
.table-wrapper::-webkit-scrollbar {
    width: 8px;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

/*-------------------------------------------------------------------------------------- quest_report */

.main-section .daily-weekly-option {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-section .daily-weekly-option .option-btn {
    text-decoration: none;
    font-family:"Aldrich", sans-serif;
    color: var(--non-active);
    font-size: 1.3rem;
    transition: color 0.7s ease;
    margin: 1% 4.5%;
}

.main-section .daily-weekly-option .option-btn:hover {
    color: var(--active-op);
}

.main-section .daily-weekly-option .option-btn.active {
    color: var(--active-op);
}

/*------------------------------------------------------- report panel*/
.quest .report-panel {
    display: flex;
    flex: 1;              
    width: 100%;
    min-height: 0;
}

.quest .left-panel {
    flex: 4;              /* 40% */
    display: flex;
    flex-direction: column;
    min-height: 0; 
}

.quest .right-panel {
    flex: 6;              /* 60% */
    display: flex;
    flex-direction: column;
    min-height: 0; 
}

/*-------------------------------- Submission Ratio Section  */
.quest .submission-ratio {
    display: flex;
    flex-direction: column;
}

/* layout: bar chart */
.quest .bar-chart {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.quest .bar-row {
    display: grid;
    grid-template-columns: 1fr 4fr auto;
    align-items: center;
    gap: 0.75rem;
}

.quest .bar-label {
    font-family: "Aldrich", sans-serif;
    font-size: 0.85rem;
    color: var(--non-active);

    display: block;            
    max-width: 100%;           
    white-space: nowrap;       
    overflow: hidden;          
    text-overflow: ellipsis;   
}

.quest .bar-track {
    height: 14px;
    background: rgba(255,255,255,0.08); 
    border-radius: 8px;
    overflow: hidden;
}

.quest .bar-fill {
    height: 100%;
    width: 0;
    border-radius: 8px;
}

.quest .bar-value {
    font-family: "Aldrich", sans-serif;
    font-size: 0.8rem;
    color: var(--active-op);
}

/* Layout: pie left, quest right */
.quest .ratio-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.2rem;
}

.quest .pie-chart {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    box-shadow: inset 0 0 12px rgba(0,0,0,0.25);
}

/* Ratio List (quest) */
.quest .ratio-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
}

/* Each row */
.quest .ratio-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--non-active);
    font-family:  "Aldrich", sans-serif;
}

/* Count */
.quest .ratio-list li span {
    margin: 0 1rem;
    color: var(--non-active);
}

.quest .ratio-list .color-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--quest-color);
    flex-shrink: 0;
}

/*-------------------------------- available quest */
.quest .available-quest {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.quest .available-quest thead th {
    padding: 0.3rem;
}

.quest .available-quest td {
    font-size: 0.8rem;
    padding: 0;
}

/*-------------------------------- (Right panel Daily Quests submission record)) */
.quest .right-panel .phone-version-title {
    display: none;
}

.quest .right-panel .submission-record {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}
/*-------------------------------------------------------------------------------------- user_report */
/* -------------------------------------------------------------------------- Top panel */
.user .top-panel {
    display: flex;
    justify-content: space-evenly;
    flex-shrink: 0;
}

.user-card {
    flex: 1;
}

/* -------------------------------------------------------------------------- Bottom panel */
.user .bottom-panel {
    display: flex;
    flex: 1;              
    min-height: 0; 
}

.user-activity-graph {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.submission-approve,
.submission-reject {
    margin-bottom: 2rem;
    height: 30vh;
    width: 50vw;           
    min-height: 0;       
    display: flex;
    flex-direction: column;
}

.user-activity-graph h4 {
    font-family: "Aldrich", sans-serif;
    color: var(--active-op);
    font-size: 1rem;
}

.user .leaderboard {
    flex: 1;              
    display: flex;
    flex-direction: column;
    min-height: 0; 
}

/*-------------------------------------------------------------------------------------- mod_report */
.mod .report-panel {
    flex: 1;
    display: flex;
    min-height: 0; 
}

.mod .left-panel {
    flex: 1;              
    display: grid;
    grid-template-rows: 1fr 1fr;
    min-height: 0; 
}

.mod .left-panel .quest-created {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.mod .left-panel .quest-deleted {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.mod .right-panel {
    flex: 1;              
    display: flex;
    flex-direction: column;
    min-height: 0; 
}

.mod .right-panel .submission-approvement {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

/*-------------------------------------------------------------------------------------- shop_report */
.shop .report-panel {
    flex: 1;
    display: flex;
    min-height: 0; 
}

.shop .left-panel {  
    flex: 0.4;           
    display: flex;
    flex-direction: column;
    min-height: 0; 
}

.shop .left-panel .card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.low-stock-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0; 
}

.low-stock-items .item-frame {
    flex: 1;              
    min-height: 0;        
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.low-stock-items ::-webkit-scrollbar {
    width: 8px;
}

.low-stock-items ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.low-stock-items img {
    width: 20vh;
    height: 20vh;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.shop .right-panel {  
    flex: 1;           
    display: flex;
    flex-direction: column;
    min-height: 0; 
}

.shop .right-panel .redemption-line-graph {
    flex: 0.4;       
    min-height: 0;
    width: 60vw; 
}

.shop .right-panel .redemption-line-graph h3 {
    margin-bottom: 0rem;
}

.shop .right-panel .redemption-activity {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    min-height: 0;
}


/* ==========================
            Mobile View          
   ========================== */
@media (max-width: 768px) {
    /* Grid setup */
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;

        grid-template-areas:
            "top"
            "main"
            "nav";
    }

    /* detial panel */
    .detail-header h2 {
        font-size: 1.2rem;
    }

    /*-------------------------- submission_detail (detail panel) */
    .submission-detail {
        flex-direction: column;
        gap: 1.5rem;
    }

    .submission-detail .quest-info h3 {
        font-size: 1rem;
    }

    .submission-detail .quest-info .description {
        font-size: 0.9rem;
        max-width: 75vh;
        padding-bottom: 1rem;
    }

    .submission-detail .declined-reason {
        font-size: 0.9rem;
        max-width: 75vh;
    }

    .submission-detail .submission-info {
        font-size: 0.7rem;
    }

    .submission-detail .submission-info h3 {
        font-size: 1rem;
    }

    .submission-detail .submission-info .evidence-picture,
    .submission-detail .submission-info .evidence-video {
        width: 50vw;
        height: 50vw;
    }

    .submission-detail .detail-action {
        flex-direction: column;
        gap: 0.8rem;
    }

    /*-------------------------- user_detail (detail panel) */
    .user-detail-section {
        flex-direction: column;
        gap: 1rem;
    }

    .user-detail-section .user-detail h3 {
        font-size: 1.2rem;
    }

    .user-detail-section .user-submission-record .record-table {
        font-size: 0.4rem;
    }
    .user-detail-section .user-submission-record thead th {
        padding:  0.2rem 0.05rem;
    }
    .user-detail-section .user-submission-record td {
        padding: 0.5rem 0.1rem;
    }

    /*--------------------------------------------------------------------------------------------------------- top bar */
    /* ------------------------------------------------------------------------------------------ general */
    .top-bar-inner {
        padding: 0rem;
    }

    .top-bar-inner .top-bar-datetime {
        display: none;
    }

    .top-bar-inner .top-bar-tools {
        width: 100%;
    }

    /* ------------------------------------------------------------------------------------------ admin_dashboard */
    .top-bar-tools .admin-dashboard-top-bar .tool-title {
        display: none;
    }

    .top-bar-tools .admin-dashboard-top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.5rem 1rem;
        overflow: hidden;
    }

    /* ------------------------------------------------------------------- Left Right button */    
    .top-bar-tools .admin-dashboard-top-bar button {
        display: inline-block;
        background: none;
        border: none;
        font-size: 2rem;
        color: var(--non-active);
    }

    /* ------------------------------------------------------------------- middle option(option title) */   
    /* Undisplay the not selected option */
    .admin-dashboard-top-bar .tool-option .tool-btn {
        display: none;
    }

    /* Display the only active option at top bar */
    .admin-dashboard-top-bar .tool-option .tool-btn.active {
        display: inline-block;
    }

    /* Overwrite gap and padding to make sure always at middle */
    .admin-dashboard-top-bar .tool-option {
        gap: 0;
        padding-right: 0;
    }

    /* Erase the bottom line */
    .admin-dashboard-top-bar .tool-btn::after {
        display: none;
    }

    /*--------------------------------------------------------------------------------------------------------- Main Section */
    .card {
        padding: 0.8rem;
    }

    .number-card {
        display: none;
    }

    /* ------------------------------------------------------------------------------------------ admin_dashboard */
    .main-section .admin-dashboard .daily-weekly-option a {
        font-size: 1rem;
    }

    /*------------------------------------------------------- quest_report*/
    .quest .left-panel {
        flex: 2.4;
    }

    .quest .report-panel {
        flex-direction: column;
    }

    .quest .right-panel .pc-version-title {
        display: none;
    }

    .quest .right-panel .phone-version-title {
        display: inline-block;
    }    

    .quest .available-quest {
        display: none;
    }

    .quest .pie-chart {
        width: 5rem;
        height: 5rem;
    }

    .quest .bar-row {
        grid-template-columns: 2fr 3fr auto; /* label ↑, bar ↓ */
        align-items: center;
        gap: 0.75rem;
    }

    .quest .bar-label {
        font-size: 0.6rem;
    }

    .quest .bar-chart {
        gap: 1.3rem;
    }

    .quest .bar-row {
        gap: 0.5rem;
    }

    .quest .bar-chart .bar-track {
        height: 10px;
    }

    .quest .submission-ratio li{
        font-size: 0.4rem;
    }
    
    .quest .right-panel .record-table {
        font-size: 0.5rem;
    }

    .quest .right-panel thead th {
        padding:  0.3rem 0.1rem;
    }

    .quest .right-panel td {
        padding: 0.2rem 0;
    }

    /*------------------------------------------------------- user_report*/
    .user .bottom-panel {
        flex-direction: column;
    }

    .user .user-activity-graph {
        flex: none;
        height: 40vh;
        padding: 0.2rem 1rem;
    }

    .user .submission-approve,
    .user .submission-reject {
        margin-bottom: 2vh;
        width: 80vw;
    }

    .user .user-activity-graph h4 {
        font-size: 0.6rem;
    }

    .user .leaderboard {
        flex: none;
        height: 35vh;
    }

    .user .leaderboard .record-table {
        font-size: 0.7rem;
    }

    .user .leaderboard thead th {
        padding: 0.3rem 0.1rem;
    }

    /*------------------------------------------------------- mod_report*/
    .mod .left-panel {
        display: none;
    }
    
    .mod .submission-approvement .record-table {
        font-size: 0.7rem;
    }

    .mod .submission-approvement thead th {
        padding: 0.3rem 0.1rem;
    }

    .mod .submission-approvement td {
        padding: 0.2rem 0.1rem;
    }

    .mod .submission-approvement .date-column,
    .mod .submission-approvement .time-column {
        display: none;
    }

    .mod .submission-approvement .title-column {
        font-size: 0.5rem;
    }

    /*------------------------------------------------------- shop_report*/
    .shop .report-panel {
        flex-direction: column;
    }

    .shop .number-card {
        display: none;
    }

    .shop .redemption-line-graph {
        display: none;
    }

    .shop .left-panel {
        flex: 0.8;
    }

    .shop .right-panel {
        flex: 1;
    }

    .shop .right-panel .redemption-activity {
        flex: 1;
    }

    .shop .redemption-activity .record-table {
        font-size: 0.7rem;
    }

    .shop .redemption-activity thead th {
        padding: 0.3rem 0.1rem;
    }

    .shop .redemption-activity td {
        padding: 0.2rem 0.1rem;
    }

    .shop .redemption-activity .date-column{
        display: none;
    }

    .shop .redemption-activity .title-column {
        font-size: 0.5rem;
    }

    /*--------------------------------------------------------------------------------------------------------- nav bar */
    .nav-bar {
        box-shadow:
            0 0 24px rgba(0, 0, 0, 0.7),
            0 -1px 0 rgba(0, 0, 0, 0.2);
    }

    .nav-bar::before {
        background: linear-gradient(
            to top,
            rgba(255, 255, 255, 0.08),
            rgba(0, 0, 0, 0.8)
        );

        z-index: 0;
    }

    /* ------------------------------------------------------------------------------------ dissable feature */
    .nav-bar .nav-logo,
    .nav-bar .nav-logout {
        display: none;
    } 

    .nav-option .quest,
    .nav-option .shop {
        display: none;
    }

    .nav-option .nav-label {
        display: none;
    }

    /* ------------------------------------------------------------------------------------ option setting */
    .nav-option {
        margin: 0.5vh;
    }

    .nav-option ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav-option .dashboard,
    .nav-option .user,
    .nav-option .setting {
        display: inline-block;
        justify-content: center;
        align-items: center;
    }

    .nav-option .nav-icon {
        display: flex;
    }

    .nav-icon svg {
        fill: currentColor;
    }

    /* --------------------------------------------------------- option background (if selected) */
    .nav-option a::before {
        display: none;
    }

    .nav-option a {
        border-radius: 15px;
    }



}