/* admin/CSS/base/variable.css */

:root {
    /* =========================
       Core colors
       ========================= */
    --nav-bg: #0a151a;
    --top-main-bg: #0a141a;
    --logo-light-green: rgb(41, 182, 97);
    --nav-op-bg: rgba(0, 113, 45, 0.16);

    --active-op: #00ff64;
    --non-active: rgba(255, 255, 255, 0.75);

    --text-glow-in: rgba(0, 255, 100, 0.2);
    --text-glow-out: rgba(0, 255, 102, 0.581);
}