/* admin/CSS/base/variable.css */

:root {
    /* =========================
       Core colors
       ========================= */
    --nav-bg: #0a151a;
    --top-main-bg: #0a141a;
    --logo-light-green: rgb(41, 182, 97);
    --nav-op-bg: rgba(0, 113, 45, 0.16);

    --active-op: #00ff64;
    --non-active: rgba(255, 255, 255, 0.75);

    --text-glow-in: rgba(0, 255, 100, 0.2);
    --text-glow-out: rgba(0, 255, 102, 0.581);

    /* Card bg must be rgba */
    --card-bg: rgb(80, 200, 120, 0.12);
    
    /* Detail Panel */
    --outside-detail-bg: rgba(0, 0, 0, 0.55);
    --inside-detail-bg: #0a141a;

    /* button color normal for yes or no */
    --red: rgb(154, 0, 0);
    --green: rgb(0, 154, 23);
}